    {{- with .Site.Params.navbar }}
    <footer>
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <a href="" class="footer-logo">{{ .logo }}</a>
              <ul class="menu">
              {{- range .menu }}
                <li class="">
                  <a href="{{ .link }}">{{ .text }}</a>
                </li>
              {{- end }}
              </ul>
              <p class="copyright-text">Copyright &copy; <a href="http://www.ndi.org">National Democratic Institute</a>| All right reserved.</p>
            </div>
          </div>
        </div>
      </div>

      <script id="CookieDeclaration" src="https://consent.cookiebot.com/cc0a54f7-5210-46aa-90a0-f33e0a1922f6/cd.js" type="text/javascript" async></script>
    </footer>
    {{- end }}
