    {{ with .Site.Params.promo }}
    <section class="promo-details section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center">
          {{- with .image }}
            <img src="{{ .path }}" alt="{{ .alt }}">
          {{- end }}
          </div>
          <div class="col-md-6">
            <div class="content mt-100">
              <h2 class="subheading">{{ .title }}</h2>
              <p>{{ .text | markdownify }}</p>
              <a class="btn btn-main" id="promo" href="{{ .link }}" role="button" target="_blank">Try it here</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    {{ end }}
